.articulos
     margin-right: 0px
     margin-left: 0px
     position: relative
     z-index: 10
     background-color: $verde-claro
#articulos-ini
     padding: 5em
     h1
          color: $azul
          font-size: 40px
          font-size: 5rem
          font-weight: bolder
          margin: 10px 0px 0px 10px
          letter-spacing: -3px
.p-principal
     font-size: 1.5em
