header
     position: fixed
     width: 100%
     margin: auto
     z-index: 20
.cabecera
     z-index: 1000
     background-color: transparent
     width: 80%
     margin: auto
     margin-bottom: 10px
     padding: 8px
     -webkit-transition: all 2.5s
.cabecera-scroll
     z-index: 1000
     background-color: $verde-oscuro
     width: 100%
     margin: auto
     -webkit-transition: all .5s
#logo
     width: 80px
     height: 60px
     margin-left: 15px
#contacto
     padding-left: 10px
     font-size: 15px
     color: rgb(139, 139, 139)
     font-weight: bolder
     line-height: 100px
#nom-empresa
     a
          font-size: 8px
          color: rgb(255, 255, 255)
          display: inline-block
          text-decoration: none
          margin-top: 30px
#div-contacto
     margin-left: -90px
.separador
     font-size: 20px
     color: rgb(139, 139, 139)
     font-weight: bolder
.borde-bajo
     border-bottom: 1px solid rgb(42, 57, 47)
