#slogan
     position: fixed
     font-family: sans-serif
     z-index: 1
#slogan h1
     font-size: 60px
     font-size: 6rem
     font-weight: bolder
     margin: 10px 0px 0px 100px
     letter-spacing: -5px
     text-shadow: 7px -7px 10px $color-sombra
#propuesta
     position: fixed
     font-family: cursive
     z-index: 1
     margin: 50px
     background-color: rgba(251, 251, 251, 0.3)
     p
          font-size: 14px
          font-size: 1.8rem
          padding-left: 30px
          padding-left: 4rem
          font-weight: bolder
          color: #3d3b3b
#boton-started
     margin-left: 50px
     margin-left: 25rem
     position: fixed
     z-index: 1
     button
          background-color: $morado
          width: 100px
          width: 20rem
          height: 50px
          height: 8rem
          border: none
          border-radius: 10px
          color: #fff
          font-weight: bold
