footer
     background-color: $verde-oscuro
     font-family: $fuente
     color: $blanco
     position: relative
     z-index: 10
     margin-bottom: 2em
     nav
          height: 10em
.redes
     text-align: center
#message-end
     margin: 30px 0px
     padding-bottom: 20px
     text-align: center
     border-bottom: 3px solid rgb(42, 57, 47)
.derechos
     padding-bottom: 10px
