nav
     display: table
     margin: auto
     margin-top: 15px
     height: 40px
ul
     display: block
     float: left
     list-style: none
ul li
     float: left
     margin: 10px 15px
     margin: 1.6rem 1.5rem
     padding: 5px
     line-height: 30px
ul a
     color: $gris
     text-decoration: none
ul a:hover
     color: rgb(255, 255, 255)
     font-weight: bold
     text-decoration: none
#menu-principal
     background-color: transparent
.menu-li
     position: fixed
     top: -550px
     z-index: -1
     margin-left: 50px
     margin-right: 50px
     height: 300px
     left: 0
     right: 0
     background-color: $morado
     transition: all .9s
nav > ul > li > a:hover > div
     top: 100px
     transition: 1.2s
