.div-botones
     margin-top: 1em
     margin-bottom: 5em

.cont-menubtn
     color: $blanco
     margin-left: 1em
     background-color: $azul
     padding: 2em
     height: 400px
     max-height: 400px

.icon-menubtn
     margin: 0 0.5em 0 0.5em
.text-menubtn
     p
          font-family: $fuente
          font-size: 1.1em
          line-height: 2em
