body {
  background-color: #f0e7dd; }

.mi_row {
  padding-left: 15;
  padding-right: 15; }

.morado {
  color: #98148f; }

.amarillo {
  color: #ddba28; }

.azul {
  color: #008ba3; }

header {
  position: fixed;
  width: 100%;
  margin: auto;
  z-index: 20; }

.cabecera {
  z-index: 1000;
  background-color: transparent;
  width: 80%;
  margin: auto;
  margin-bottom: 10px;
  padding: 8px;
  -webkit-transition: all 2.5s; }

.cabecera-scroll {
  z-index: 1000;
  background-color: #1a2d27;
  width: 100%;
  margin: auto;
  -webkit-transition: all 0.5s; }

#logo {
  width: 80px;
  height: 60px;
  margin-left: 15px; }

#contacto {
  padding-left: 10px;
  font-size: 15px;
  color: #8b8b8b;
  font-weight: bolder;
  line-height: 100px; }

#nom-empresa a {
  font-size: 8px;
  color: white;
  display: inline-block;
  text-decoration: none;
  margin-top: 30px; }

#div-contacto {
  margin-left: -90px; }

.separador {
  font-size: 20px;
  color: #8b8b8b;
  font-weight: bolder; }

.borde-bajo {
  border-bottom: 1px solid #2a392f; }

#slogan {
  position: fixed;
  font-family: sans-serif;
  z-index: 1; }

#slogan h1 {
  font-size: 60px;
  font-size: 6rem;
  font-weight: bolder;
  margin: 10px 0px 0px 100px;
  letter-spacing: -5px;
  text-shadow: 7px -7px 10px #404e46; }

#propuesta {
  position: fixed;
  font-family: cursive;
  z-index: 1;
  margin: 50px;
  background-color: rgba(251, 251, 251, 0.3); }
  #propuesta p {
    font-size: 14px;
    font-size: 1.8rem;
    padding-left: 30px;
    padding-left: 4rem;
    font-weight: bolder;
    color: #3d3b3b; }

#boton-started {
  margin-left: 50px;
  margin-left: 25rem;
  position: fixed;
  z-index: 1; }
  #boton-started button {
    background-color: #98148f;
    width: 100px;
    width: 20rem;
    height: 50px;
    height: 8rem;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-weight: bold; }

.contenedor {
  padding: 0;
  width: 100%;
  margin: 0 auto;
  background-color: #fefefe; }

nav {
  display: table;
  margin: auto;
  margin-top: 15px;
  height: 40px; }

ul {
  display: block;
  float: left;
  list-style: none; }

ul li {
  float: left;
  margin: 10px 15px;
  margin: 1.6rem 1.5rem;
  padding: 5px;
  line-height: 30px; }

ul a {
  color: #8b8b8b;
  text-decoration: none; }

ul a:hover {
  color: white;
  font-weight: bold;
  text-decoration: none; }

#menu-principal {
  background-color: transparent; }

.menu-li {
  position: fixed;
  top: -550px;
  z-index: -1;
  margin-left: 50px;
  margin-right: 50px;
  height: 300px;
  left: 0;
  right: 0;
  background-color: #98148f;
  transition: all 0.9s; }

nav > ul > li > a:hover > div {
  top: 100px;
  transition: 1.2s; }

section#banner-parallax {
  background-image: url(../../images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.articulos {
  margin-right: 0px;
  margin-left: 0px;
  position: relative;
  z-index: 10;
  background-color: #e7faed; }

#articulos-ini {
  padding: 5em; }
  #articulos-ini h1 {
    color: #008ba3;
    font-size: 40px;
    font-size: 5rem;
    font-weight: bolder;
    margin: 10px 0px 0px 10px;
    letter-spacing: -3px; }

.p-principal {
  font-size: 1.5em; }

.div-botones {
  margin-top: 1em;
  margin-bottom: 5em; }

.cont-menubtn {
  color: white;
  margin-left: 1em;
  background-color: #008ba3;
  padding: 2em;
  height: 400px;
  max-height: 400px; }

.icon-menubtn {
  margin: 0 0.5em 0 0.5em; }

.text-menubtn p {
  font-family: Helvetica, Roboto, Arial, sans-serif;
  font-size: 1.1em;
  line-height: 2em; }

footer {
  background-color: #1a2d27;
  font-family: Helvetica, Roboto, Arial, sans-serif;
  color: white;
  position: relative;
  z-index: 10;
  margin-bottom: 2em; }
  footer nav {
    height: 10em; }

.redes {
  text-align: center; }

#message-end {
  margin: 30px 0px;
  padding-bottom: 20px;
  text-align: center;
  border-bottom: 3px solid #2a392f; }

.derechos {
  padding-bottom: 10px; }

/*# sourceMappingURL=mis_estilos.css.map */
